{% extends "base.html" %}

{% block title %}Home - Snowsune.net{% endblock %}

{% block content %}
<h1>Welcome to my site!!</h1>
<p>A couple things up front.. I am NOT good at web design!</p>
<p>I'm also pretty disorganized in general!</p>

A lot of things are in motion here but I still hope to have resources and
tools that make my site worth visiting!

consider joining my <a href="{{ discord_invite }}">discord</a> by the way! Thats the best
place to get up-to-date information!
{% endblock %}

{% block sidebar %}
<h2>Quick Links</h2>
<ul>
    <li><a href="https://booru.kitsunehosting.net/">BixiBooru</a></li>
    <li><a href="https://size-diff.snowsune.net/">Size-Diff</a></li>
    <li><a href="https://play.snowsune.net/">Minecraft Server</a></li>
    <li><a href="https://factorio.snowsune.net/">Factorio Server</a></li>
</ul>
{% endblock %}