{% extends "base.html" %}

{% block title %}Tools - Snowsune.net{% endblock %}

{% block content %}
<h2>My Own</h2>

<h3>BixiBooru</h3>
Check out and use my booru image board <a href="https://booru.kitsunehosting.net/">BixiBooru!</a><br>
BixiBooru is a danbooru fork that I maintain! Join my discord too for information and bot commands!

<h3>Size Diff</h3>
I have a <a href="https://size-diff.snowsune.net/">Size Diff!</a> app! It even has specis based scaling! Something
I'm very proud of~

<h3>Minecraft Server</h3>
Still a work in progress! You're welcome to help me test out my server though! Just click
<a href="https://play.snowsune.net/">here</a> for deets!

<h3>Factorio Server</h3>
Also fun to play!
<a href="https://factorio.snowsune.net/">Click here!</a>

<h2>Other Tools</h2>
The <a href="https://new.belfrycomics.net/">Belfry Webcomics Index</a>! A super handy webcomic resource!

{% endblock %}

{% block sidebar %}
<h2>Quick Links</h2>
<ul>
    <li><a href="https://booru.kitsunehosting.net/">BixiBooru</a></li>
    <li><a href="https://size-diff.snowsune.net/">Size-Diff</a></li>
    <li><a href="https://play.snowsune.net/">Minecraft Server</a></li>
    <li><a href="https://factorio.snowsune.net/">Factorio Server</a></li>
</ul>
{% endblock %}