{% extends "base.html" %}
{% load static %}

{% block title %}Vixi's Vore Day Rumble - Come Back Next Year!{% endblock %}
{% block og_title %}Vixi's Vore Day Rumble{% endblock %}
{% block twitter_title %}Vixi's Vore Day Rumble{% endblock %}
{% block og_description %}Come back next year!~{% endblock %}
{% block twitter_description %}Come back next year!~{% endblock %}
{% block og_image %}{% static 'vore_day_rumble/backdrop.png' %}{% endblock %}
{% block twitter_image %}{% static 'vore_day_rumble/backdrop.png' %}{% endblock %}
{% block og_image_alt %}Vixi's Vore Day Rumble{% endblock %}
{% block twitter_image_alt %}Vixi's Vore Day Rumble{% endblock %}

{% block content %}
<section>
  <h1>Vixi's Vore Day Rumble</h1>
  <p>Come back next year!</p>
</section>
{% endblock %}
