<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Snowsune.net{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
  <header class="header tile">
    <div class="logo">
      <img src="{% if debug %}{% static 'logos/devlogo.png' %}{% else %}{% static 'logos/logo.png' %}{% endif %}"
        alt="Snowsune Logo">
    </div>
    <nav class="navbar">
      <div class="nav-links">
        <a href="#">Home</a>
        <a href="#">Projects/Apps</a>
        <a href="#">Blog</a>
        <a href="#">Tools</a>
        <a href="#">Comics</a>
      </div>
      <div class="login">
        <a href="#">Log In</a>
      </div>
    </nav>
  </header>

  <!-- The stuff in the center of the page basically -->
  <div class="main-layout">
    <!-- Main content -->
    <div class="content tile">
      {% block content %}
      <!-- Page-specific content goes here -->
      {% endblock %}
    </div>

    <!-- Sidebar stuff -->
    <div class="sidebar tile">
      <h2>Global Links</h2>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Tools</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
      {% block sidebar %}
      {% endblock %}
    </div>
  </div>

  <footer class="footer tile">
    <p>
      &copy; {{ year }} snowsune.net,
      <a href="https://github.com/snowsune/site/commits/{{ version }}">Version {{ version }}</a>
    </p>
  </footer>
</body>

</html>